[Unit]
Description=Console screen
After=local-fs.target

[Service]
Type=forking 
Environment=SCREENRC='/etc/cscreenrc'
Environment=SCREEN_NAME='console'
Environment=SCREEN_HISTORY="20000"
Environment=SCREEN_SHELL='/usr/share/cscreen/cscreen-shell'
EnvironmentFile=-/etc/sysconfig/cscreen
ExecStart=/usr/bin/screen -h $SCREEN_HISTORY -s $SCREEN_SHELL -d -m -S $SCREEN_NAME -c $SCREENRC
ExecReload=/bin/kill -HUP $MAINPID
# This can be adjusted via "drop-in" directory cscreen.service.d/ (see systemd.unit(5))
User=_cscreen
Group=_cscreen
# This can be adjusted via "drop-in" directory cscreen.service.d/ (see systemd.exec(5))
LimitNOFILE=2048

[Install]
WantedBy=multi-user.target
