# production config file for cscreen
# /etc/cscreenrc
#
multiuser on

# --  list of allowed users: ----------
acladd admin root
# -------------------------------------
shell /bin/bash

startup_message off

# xterm has no hardstatus
termcapinfo xterm hs@
# we kill windows with SHIFT-K
bind k
bind ^k
bind K
# we do not quit the session with kermit like keystrokes.
bind \    
# CTRL-A SHIFT-B produces a break of duration 3.
# If duration is zero it transmits zero-valued bits for at least 0.25 seconds,
# and not more that 0.5 seconds. If  duration  is  not  zero,  it sends
# zero-valued bits for duration*N seconds, where N is at least 0.25, and not
# more than 0.5. (Sorry, using tcsendbreak(3V) here )
bind B break 3
# where the logfiles go: 
logfile /var/log/screen/screenlog.%t.log
logtstamp on 
deflog on
# statusline
caption always "%3n %t%? @%u%?%? [%h]%?"
## ---------------------------------
zombie "x "
##
## Consoles
##
log on
## automatically reconnect to remote hosts
zombie_timeout 11
##
