# production config file for cscreen
# /etc/cscreenrc
#
multiuser on

startup_message off

# xterm has no hardstatus
termcapinfo xterm hs@
# we kill windows with SHIFT-K
bind k
bind ^k
bind K
# we do not quit the session with kermit like keystrokes.
bind \    
# CTRL-A SHIFT-B produces a break of duration 3.
# If duration is zero it transmits zero-valued bits for at least 0.25 seconds,
# and not more that 0.5 seconds. If  duration  is  not  zero,  it sends
# zero-valued bits for duration*N seconds, where N is at least 0.25, and not
# more than 0.5. (Sorry, using tcsendbreak(3V) here )
bind B break 3
# where the logfiles go: 
logfile /var/log/screen/screenlog.%t.log
logtstamp on 
logtstamp string "-- %n:%t -- time-stamp -- %Y-%m-%d %c:%s --\n"
deflog on
# statusline
caption always "%3n %t%? @%u%?%? [%h]%?"
## ---------------------------------
zombie "x "
##
## Consoles
##
log on
## automatically reconnect to remote hosts
zombie_timeout 11
##
#
# defhstatus "ThisHost ttyS0"
# screen -t OtherHost /dev/ttyS0 115200
# defhstatus "RemoteHOST IPMI"
# screen -t RemoteHost -L ipmitool -I lanplus -H remotehost -U username -P password sol activate
# defhstatus "KVM VM"
# screen -t VM -L virsh -c 'qemu:///system' console vm
# defhstatus "ThisHost cscreen shell"
#
